.footer__final {
    color: #f9f9f9;
    display: flex;
  justify-content: space-between;
align-items: center;
}

.footer__final {
    min-height: 60px;
    align-content: space-between;
    display: flex;
    background-color: #27012e;
    bottom: 0;
    color: #f9f9f9;

 
}