.Home__banner {
    background-image: url('/img/fondo4.jpg')
    ;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -300px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home__content{
    padding: 0px 10%;
    margin-top: 2rem;

}
.Home__banner h1 {
    font-size: 4rem;
    text-shadow: 4px 5px #363636;
}

.Home__subBanner{
    background-color: #c48ad3;
    justify-content: center;
    display: flex;
    color: #000;
    padding: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace
}

.Home__content__tittle {
    display: flex;
    justify-content: center;
    color: #d3d5e8;
    text-shadow: 2px 2px solid #000;
    font-size: 30px;
}

.Home__content__clusters {
    display: flex;
   flex-wrap: wrap;
}

.Home__content__clusters div {
    display: flex;
    flex-grow: 1px;
    width: 31%;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin: 1%;
    background:#1c1c1c ;
    border: 6px #000;
}

.Home__content__clusters div a {
    color: #bdbdbd;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 4px 4px solid #000;
}